<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAz6CAmLN0D-JHoG8HA7ejsxWr3Iw4V3Bs</string>
	<key>GCM_SENDER_ID</key>
	<string>155028662700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jianyang.tiktokHackers</string>
	<key>PROJECT_ID</key>
	<string>strixtok</string>
	<key>STORAGE_BUCKET</key>
	<string>strixtok.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:155028662700:ios:4cc14ce4179d7573b37209</string>
</dict>
</plist>